<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsoteam.horoscopes">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_bfYkAuvEwxoMHWMPLmlcDdhiutkPpexy" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_hlxrWC5Zx16DkYmWu4AHiimdqugRYMr" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/fb_login_protocol_scheme" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_key" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity
            android:name="com.wsoteam.horoscopes.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="horovso" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="horovso.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="horovso-alternate.app.link" />
            </intent-filter>
        </activity>


        <!--<activity
            android:name="com.wsoteam.horoscopes.presentation.crystals.shop.ListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->



        <activity
            android:name=".presentation.lost.NetLostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />

        <activity
            android:name=".presentation.form.FormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Form" />

        <activity
            android:name=".presentation.premium.PremiumHostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Premium" />

        <activity
            android:name=".presentation.premium.ab.DefaultPremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Premium" />

        <activity
            android:name=".presentation.premium.ab.CleanerPremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PremiumCleaner" />

        <activity
            android:name=".presentation.premium.ab.GreenPremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreenPremiumCleaner" />

        <activity
            android:name=".presentation.premium.ab.CatPremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CatPremiumCleaner" />

        <activity
            android:name=".presentation.premium.ab.DayCatPremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CatPremiumCleaner" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.FinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.AppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.SubscriptionTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.PrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.EnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle">
        </activity>

        <activity
            android:name=".presentation.astrologer.WomanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle">
        </activity>

        <activity
            android:name=".presentation.astrologer.WomanListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme">
        </activity>

        <activity
            android:name=".presentation.astrologer.hands.HandsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle">
        </activity>

        <activity
            android:name=".presentation.astrologer.hands.HandsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme">
        </activity>




        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.space.SpaceFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.space.SpaceAppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.space.SpacePrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.space.SpaceEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle"/>




        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.diamond.DiamondFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.diamond.DiamondAppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.diamond.DiamondPrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.diamond.DiamondEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/EnterActivityStyle"/>



        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.girl.GirlFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.girl.GirlAppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle" />


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.girl.GirlPrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle" />

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.girl.GirlEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.single.SinglePremActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.single.PoliceGirlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle" />



        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.smartphone.PhoneEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.smartphone.PhoneAppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.smartphone.PhoneFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.smartphone.PhonePrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.hair.HairEnterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.hair.HairAppsTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>

        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.hair.HairFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>


        <activity
            android:name="com.wsoteam.horoscopes.presentation.premium.onboarding.hair.HairPrivacyPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GirlEnterActivityStyle"/>


        <activity
            android:name=".presentation.premium.PaySuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Premium" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />

        <activity
            android:name=".presentation.onboard.HostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraActivity" />

        <activity
            android:name=".presentation.onboard.ScanIntroActivtity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraActivity" />

        <activity
            android:name=".presentation.onboard.scan.HandCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraActivity" />

        <activity
            android:name=".presentation.crystals.StoriesOnboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />

        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />

        <activity
            android:name=".presentation.premium.WhitePaySuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteTheme" />

        <activity
            android:name=".presentation.stories.StoriesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Main" />


        <service
            android:name=".notification.NotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".notification.AlarmReceiver" />
        <receiver android:name=".notification.EveningAlarmReceiver" />
        <receiver android:name=".utils.interceptor.ShareBroadcast">
            <intent-filter>
                <action android:name="com.wsoteam.horoscopes.Config.ACTION_SHARE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.fcm.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>